#Bspace{
    width: 98%;
    background-color: aqua;
    border: outset 5px;
    border-top-color: #67eaf4;
    border-right-color: #67eaf4;
    border-left-color: #529d9d;
    border-bottom-color: #529d9d;
    

}