.BR{
    background-color:var(--red-color);
    border-top-color: #f88b9a;
    border-right-color: #f88b9a;
    border-left-color: #bc4656;
    border-bottom-color: #bc4656;
    width: 4rem;
    font-size: large;
}