.BR{
    background-color:var(--red-color);
    border-top-color: #f88b9a;
    border-right-color: #f88b9a;
    border-left-color: #bc4656;
    border-bottom-color: #bc4656;
    width: 4rem;
    font-size: large;
}
@media screen and (max-width: 768px) {
    #Caps{
        font-size: medium;

    }
    #CpasLight{
        width: 2px;
        height: 2px;
    }
  }
#Caps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}
#CpasLight{
    width: 2.5px;
    height: 2.5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent ;
    

}

.Light{
    background-color: white !important;
}