.BW{
    background-color: var(--white-color);
    border-top-color: #f3f3f1;
    border-right-color: #f3f3f1;
    border-left-color: #c1c1c1;
    border-bottom-color: #c1c1c1;
    width: 2.5rem;
    font-weight: bold;
}