.BG{
    background-color: #7af52d;
    border: outset 5px;
    border-top-color: #a1f76c;
    border-right-color: #a1f76c;
    border-left-color: #75c047;
    border-bottom-color: #75c047;
    width: 6.5rem;
    font-size: large;
}