.BG{
    background-color: var(--green-color);
    border-top-color: #a1f76c;
    border-right-color: #a1f76c;
    border-left-color: #75c047;
    border-bottom-color: #75c047;
    width: 6.5rem;
    font-size: large;
}