button{
    font-family: Student;
    height: 2.5rem;
    margin: .15rem;
    border-radius: 5px;
    border: outset 5px;


}

.buttons.active{
    
    border:none;
    --blue-color :#6ac1c1;
    --yellow-color: #edf671;
    --red-color : #f66074;
    --green-color: #a9fc75;
    --white-color : #b2b2b2;
}
.hidden {
    display: none;
}
