.BY{
    background-color: rgb(218, 228, 65);
    border: outset 5px;
    border-top-color: #e9fc7d;
    border-right-color: #e9fc7d;
    border-left-color: #a7b556;
    border-bottom-color: #a7b556;
    width: 2.8rem;
    font-size: large;
}