@import "Container";
@import "Button_red";
@import "Button_yellow";
@import "Button_blue";
@import "Button_green";
@import "Button_defult";
@import "Button_white";
@import "TextArea";



:root {
    --blue-color: aqua ; 
    --yellow-color: #dae441;
    --red-color : #f52d47;
    --green-color: #7af52d;
    --white-color : #e0e0dd;
    
}